<md-toolbar class="main-top-menu" color="white">

  <div class="main-logo">
    <a routerLink="">
      <img [src]="mainLogoPath">
    </a>
  </div>

  <nav class="main-top-menu-container">
    <ul class="main-top-menu-list" routerLinkActive="active">
      <li class="menu-item"><a class="nav-link" routerLink="freelancers">#프리랜서</a></li>
      <li class="menu-item"><a class="nav-link" routerLink="projects">#프로젝트</a></li>
      <!-- 프로젝트 관리자로 가입되면 보이는 메뉴 -->
      <!--<li class="menu-item"><a class="nav-link" routerLink="todo">#프로젝트 등록</a></li>-->
    </ul>
  </nav>

  <div md-icon-button class="menu-login" [hidden]="isLogined" (click)="openLoginDialog()">
    <md-icon>fingerprint</md-icon>
    <span>로그인</span>
  </div>

  <div *ngIf="currentUser"
       md-icon-button
       class="menu-user"
       #userMenuBtn
       [mdMenuTriggerFor]="userMenu"
       (onMenuClose)="addUserMenuCloseEvent()"
       (onMenuOpen)="addUserMenuOpenEvent()"
       (mouseenter)="openUserMenu()">
    <span>{{currentUser.USER_NAME}}</span>
  </div>

  <md-menu #userMenu="mdMenu"
           yPosition="below"
           [overlapTrigger]="false">
    <button (click)="userInfo()" md-menu-item disabled>
      <md-icon>account_circle</md-icon>
      <span>내 정보</span>
    </button>
    <button (click)="logoutUser()" md-menu-item>
      <md-icon>power_settings_new</md-icon>
      <span>로그아웃</span>
    </button>
  </md-menu>

</md-toolbar>
