@import "../../common/styles/color.scss";

.external-login-btn {

  display: block;
  border-radius: 2em;
  width: 100%;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;

  & > .md-icon {

  }

  & .external-login-icon {
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 1em;
    display: inline-block;
    text-align: center;

    & > i.fa {
      vertical-align: top;
      margin-top: 6px;
    }
  }

  & .external-login-text {
    color: $color-external-site-text;
    margin-left: 5px;
    margin-right: 15px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  &.facebook-style {
    background-color: $color-external-site-facebook-bg;
    & .external-login-icon > i.fa {
      color: $color-external-site-facebook-bg;
    }
  }

  &.google-style {
    background-color: $color-external-site-google-bg;
    & .external-login-icon > i.fa {
      color: $color-external-site-google-bg;
    }
  }
}

.login-text-or {
  display: block;
  color: #bdbdbd;
  line-height: 32px;
  text-align: center;
  position: relative;
  margin: 8px auto;

  &:before, &:after {
    content: '';
    width: 46%;
    border-bottom: 1px solid #bdbdbd;
    display: block;
    position: absolute;
    top: 50%;
  }

  &:after {
    right: 0;
  }
}

.login-modal-box {

  .login-form-title {
    font-size: 1.1em;
    color: #848484;
    text-align: center;
  }

  form.login-modal-form {

    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;

    .login-modal-input-container {
      line-height: 1.5em;
      display: block;
      width: 100%;
      padding: 0 20px;

      .mat-input-element {
        font-size: 1.4em;
      }
    }

    .login-modal-btn {
      width: 330px;
      margin-top: 8px;
    }
  }
}

.login-modal-bottom-toolbar {
  margin-top: 10px;
  text-align: right;
  font-size: 0.9em;
  padding: 0 20px;

  .login-modal-desc {
    display: inline-block;
    color: gray;
  }

  .login-modal-link-btn {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    color: $hash-video-active-main-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
