.main-container {
  font-family: "Roboto";
  position: relative; }
  .main-container .main-side-nav {
    width: 200px;
    background-color: #673ab7; }
  .main-container .main-center {
    margin: 0;
    width: 100%;
    height: 100%; }
