<button md-button
        md-dialog-close="facebook"
        class="external-login-btn facebook-style">
  <span class="external-login-icon">
      <i fa [name]="'facebook'"></i>
  </span>
  <span class="external-login-text">Facebook 계정으로 로그인</span>
</button>
<button md-button
        md-dialog-close="google"
        class="external-login-btn google-style">
  <span class="external-login-icon">
      <i fa [name]="'google'"></i>
  </span>
  <span class="external-login-text">Google 계정으로 로그인</span>
</button>
