<div class="main-container">

  <md-sidenav-container>

    <md-sidenav #mainSideNav class="main-side-nav" mode="side" opened="false">Side Nav</md-sidenav>

    <div class="main-center">

      <form class="main-search-form"
            (submit)="search(mainSearchForm); mainSideNav.close();">

        <h1 class="main-title">{{title}}</h1>

        <md-input-container class="main-search-input-container">
          <input mdInput
                 name="keyword"
                 placeholder="Search job"
                 [(ngModel)]="mainSearchForm.keyword"
                 [class.main-error]="!mainSearchForm.keyword.length"
                 (focus)="mainSideNav.open()"
                 (focusout)="mainSideNav.close()"
                 autofocus />
        </md-input-container>

        <button md-button
                type="submit"
                [disabled]="!mainSearchForm.keyword.length">SEARCH</button>
      </form>

      <p>Main Page</p>
      <p>{{esSesrchResultStr}}</p>

      <main-job-category-cmp></main-job-category-cmp>

    </div>

  </md-sidenav-container>
</div>
